#container {
    width: 936px;
    display: flex;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
}

#left {
    width: 240px;
    background-color: #f2f2f2;
    height: 335px;
    border: 2px solid #000;
}

#middle {
    width: 568px;
    height: 339px;
    background-color: rgb(0, 0, 106);
    padding: 35px;
    box-sizing: border-box;
    border: 2px solid #202020;
    font-family: 'Courier New', Courier, monospace;
}

#right {
    width: 128px;
    height: 335px;
    background-color: rgb(0, 0, 106);
    border: 2px solid #000;
}

#vierkant {
    width: 108px;
    height: 105px;
    background-color: rgb(233, 233, 247);
    border: 2px solid #000;
}


#middelVierkant {
    width: 508px;
    height: 285px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #000;
}

#minutes {
    width: 245px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
}

#nextup {
    margin-top: 85px;
    width: 508px;
    height: 40px;
    background-color: rgb(81, 90, 210);
    border: 2px solid #000000;
    color: rgb(255, 255, 255)
}

#location {
    font-size: 30px;
    margin-top: -20px;
    color: rgb(11, 10, 10)
}

#via {
    font-size: 20px;
    margin-top: -20px;
    color: rgb(11, 10, 10)
}

#traintype {
    margin-top: -70px;
    margin-right: 100px;
    font-size: 30px;
    color: rgb(27, 27, 27)
}

#nsLogo {
    margin-left: 415px;
    margin-top: -280px;
}